footer {
    border-top: 2px solid #bdbdbd;
    border-radius: 10px;
}

.footerA {
    display: flex;
    justify-content: center;
}
ul, li {
    list-style: none;
}
/* copyright */
#copyrightFooter {
    align-items: center;
    display: inline-flex;
    font-family: 'Azeret Mono', monospace;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#copyrightFooter a,
#copyrightFooter p {
    font-family: 'Azeret Mono', monospace;
}
#copyrightFooter a:hover {
    opacity: .5;
}
