/* container */
.mainContainer label {
	background: #eeeeee;
	border-radius: 200px;
	box-shadow: 5px 5px 10px 1px #e5e5e5;
	cursor: pointer;
	display: flex;
	height: 40px;
	transition: .3s;
	width: 80px;
}

/* light mode left white circle */
label:after {
	background: linear-gradient(180deg,#c1c1c1,#7d7d7d);
	border-radius: 180px;
	content: "";
	height: 30px;
    left: 5px;
	position: relative;
	top: 4px;
    bottom: 5px;
	transition: .3s;
	width: 30px;
}

/* checkbox */
.mainContainer input {
	height: 0;
	visibility: hidden;
	width: 0;
}

/* dark mode background */
input:checked + label {
	background: transparent;
	box-shadow: 5px 5px 10px 1px #3c3c3c;
}

/* dark mode right black circle */
input:checked + label:after {
    background: linear-gradient(180deg,#5b5b5b,#323232);
	left: 45px;
}

/* transition when going from dark to light mode */
label:active:after {
	width: 45px;
}

label:hover {
	transform: scale(1.03);
	transition: .2s;
}

/* dark-mode rulesets */
body {
	background-color: white;
	transition: .3s;
}
body.dark,
.dm {
	background-color: #1e1e1e;
	transition: 1s;
}
.dm,
.dm .headerTitle,
.dm svg,
.dm .svgNoHover:hover,
.dm .footerContainer a,
.dm textarea,
body.dark p,
.dm button,
.dm figcaption,
.dm button a {
    color: white;
}
.dm svg:hover,
.dm .search:hover,
.dm textarea:hover,
.dm .footerContainer a:hover,
.dm button:hover {
	color: white;
    opacity: .8;
	transition: .3s;
}
.dm button,
.dm figcaption,
.dm button a {
	background-color: #2d2d2d;
}
.dm input,
.dm textarea {
	background-color: transparent;
}
.dm .blogBox,
.dm .socialNetworks,
.dm .authorContainer .abtAuthor {
    box-shadow: 2px 10px 20px #3c3c3c;
}