label {
	background: #eeeeee;
	border-radius: 200px;
	box-shadow: 5px 10px 20px 5px #c1c1c1;
	cursor: pointer;
	display: flex;
	height: 160px;
	transition: 0.3s;
	width: 320px;
}
body.dark label {
	box-shadow: 5px 10px 20px 5px #1a1a1a;
}
label:after {
	background: linear-gradient(180deg,#c1c1c1,#7d7d7d);
	border-radius: 180px;
	content: "";
	height: 120px;
    left: 20px;
	position: relative;
	top: 20px;
    bottom: 20px;
	transition: .3s;
	width: 120px;
}
input {
	height: 0;
	visibility: hidden;
	width: 0;
}
input:checked + label {
	background: #000002;
}
input:checked + label:after {
    background: linear-gradient(180deg,#5b5b5b,#323232);
	left: 180px;
}
label:active:after {
	width: 90px;
}
label:hover {
	transform: scale(1.01);
	transition: .5s;
}
/* rulesets body for dark mode */
body {
	background-color: white;
	transition: .5s;
}
body.dark {
	background-color: black;
}
body.dark p {
	color: white;
}
/* general rulesets */
#wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}
.title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 32px;
	text-align: center;
}
/* copyright */
#copyrightFooter {
    align-items: center;
	display: flex;
	flex-direction: row;
    font-family: 'Azeret Mono', monospace;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#copyrightFooter a,
#copyrightFooter p {
    font-family: 'Azeret Mono', monospace;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
#copyrightFooter a:hover {
    opacity: .5;
}
body.dark #copyrightFooter,
body.dark #copyrightFooter a,
body.dark #copyrightFooter p {
	color: white;
}