@import 'main.scss';

@media (max-width: 999px) { /* smaller screens */
    #container {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
    }
    #app2 {
        text-align: left;
    }
}

@media (min-width: 1000px) { /* large screens */
    #container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px 15% 100px 15%;
    }
    #app2 {
        text-align: center;
    }
}

#container {
    gap: 0 20px;
    height: 100%;
}
#app1,
#app2 {
    background-color: #f4f4f4;
    box-shadow: -5px 5px 20px 10px #dbdbdb;
    border-radius: 10px;
    height: 100%;
    padding: 0 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#app1:hover, 
#app2:hover {
    transition: .5s;
    transform: scale(1.003);
}
.holder {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* app 1 */
#app1 {
    text-align: center;
}
#generate {
    width: 100%;
}
#reset:hover {
    background-color: #b83f35;
}
.buttons {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0 20px;
}
.buttons button {
    display: flex;
}

/* app 2 */
.appContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#app2 .holder {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#btns {
    display: flex;
    flex-direction: row;
    gap: 0 10px;
}
#delete,
#edit {
    background-color: #d7d7d7;
    border: 0 none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
#delete:hover {
    background-color: #b83f35;
}
#edit:hover {
    background-color: #5d92c0;
}
.holder svg {
    padding: 10px;
}
#app2 .hostingInfo,
#app2 .flightInfo,
#app2 .notes {
    align-items: center;
    text-align: justify;
}
