/* media queries */
@media (max-width: 800px) { /* smaller screens */
    h1 {
        font-size: 50px;
        margin: 10em 0;
    }
    h2 {
        font-size: 30px;
        margin: 10em 0 5em 0;
    }
    p {
        font-size: 15px;
        line-height: 2em;
    }
    nav li {
        font-size: 14px;
    }
    nav ul {
        gap: 5px;
        flex-direction: column;
    }
}
@media (min-width: 801px) { /* larger screens */
    h1 {
        font-size: 60px;
        margin: 8em 0em;
    }
    h2 {
        font-size: 40px;
        margin: 5em 0 0 0;
    }
    p {
        font-size: 20px;
        line-height: 3em;
    }
    nav li {
        font-size: 18px;
    }
    nav ul {
        gap: 20px;
        justify-content: flex-end;
    }
}

/* body and wrapper rulesets */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    background: #131313;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}
main {
    background: #131313;
    padding: 0 10% 0 10%;
}

/* typography and font sizes */
h2 {
    border-bottom: 2px solid #131313;
    padding: 10px 0 10px 0;
}

/* header */
.page-header {
    background: #131313;
    border-bottom: 1px solid #1d252e;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

/* nav bar */
nav ul {
    display: flex;
    padding: 10px;
    text-align: center;
}
.active {
    background: #1d252e;
    border-radius: 20px;
    color: #fff;
    display: flex;
    padding: 1em;
    transition: ease 0.5s all;
}
.navbar-menu .menu-link {
    color: #fff;
    display: flex;
    padding: 1em;
}
.navbar-menu .menu-link:hover {
    background: #1d252e;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.3s all;
}

/* landing container */
.landing-container {
    padding: 2em;
}
section p {
    display: flex;
    text-align: justify;
}

/* active section behaviour */
section.active-class {
    background: linear-gradient(#131313, #1d252e);
    border-radius: 5px;
    transition: .2s;
}

/* footer */
.page__footer {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

/* copyright */
#copyrightFooter {
    align-items: center;
    font-family: 'Azeret Mono', monospace;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#copyrightFooter a,
#copyrightFooter p {
    font-family: 'Azeret Mono', monospace;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#copyrightFooter a:hover {
    opacity: .5;
}
@media (max-width: 800px) {
    #copyrightFooter {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 801px) {
    #copyrightFooter {
        display: inline-flex;
    }
}