<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News Article </title>
        <link rel="stylesheet" href="./src/client/styles/resets.scss">
        <link rel="stylesheet" href="./src/client/styles/base.scss">
        <link rel="stylesheet" href="./src/client/styles/header.scss">
        <link rel="stylesheet" href="./src/client/styles/form.scss">
        <link rel="stylesheet" href="./src/client/styles/footer.scss">
        <script src="./src/client/js/formHandler.js"></script>
    </head>
    <body>
        <header>
            <div>Analyze article's polarity with Natural Language Processing</div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="name" class="url-label">Enter article's URL of your choice below</label>
                    <input class="url-input" type="text" name="input" value="" placeholder="URL"/>
                    <input type="submit" class="btn" name="" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"/>
                </form>
            </section>
            <div>Results:</div>
            <section id="results"></section>
        </main>
        <footer></footer>
        <script>
            // check that service workers are supported
            if ('serviceWorker' in navigator) {
                // use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>